.app-main-height {
  user-select: text;
}

.strix-zoom-in-top-enter-active,
.strix-zoom-in-top-leave-active {
  filter: none;
  transition: filter 0.4s ease, transform 0.4s ease;
}

.strix-zoom-in-top-enter-from,
.strix-zoom-in-top-leave-from {
  filter: blur(20px);
}

.strix-zoom-in-top-leave-active {
  display: none;
}

/* model */
.strix-model-primary {
  width: 65vw;
  max-width: 800px;
}

/* model 在移动设备上宽度占满全屏 */
@media only screen and (max-width: 768px) {
  .strix-model-primary {
    width: calc(100vw - 10px);
    max-width: none;
  }
}

.strix-form-modal-footer {
  justify-content: flex-end !important;
}
