.full-h {
  height: 100%;
}

.min-w-1024 {
  min-width: 1024px;
}

.b-r-10 {
  border-radius: 10px;
}

.s-bg-color {
  background-color: var(--s-bg-color);
}

.mb-10 {
  margin-bottom: 10px;
}

// 使元素内容可以被选择
.selectable {
  user-select: text;
}

// 数据编辑表单模态框
.strix-form-modal {
  width: 65vw;
  max-width: 800px;
}

.strix-charts {
  height: 480px;
}

// 数据编辑表单模态框 在移动设备上占满屏幕宽度
@media only screen and (max-width: 768px) {
  .strix-form-modal {
    width: calc(100vw - 20px);
    max-width: none;
  }
}
