.app-main-height {
  user-select: text;
}

.strix-zoom-in-top-enter-active,
.strix-zoom-in-top-leave-active {
  filter: none;
  transition:
    filter 0.4s ease,
    transform 0.4s ease;
}

.strix-zoom-in-top-enter-from,
.strix-zoom-in-top-leave-from {
  filter: blur(20px);
}

.strix-zoom-in-top-leave-active {
  display: none;
}

/* n-alert */
.n-alert .n-alert-body p {
  margin: 0;
}

/* model */
.strix-model-primary {
  width: 65vw;
  max-width: 800px;
}

/* model 在移动设备上宽度占满全屏 */
@media only screen and (max-width: 768px) {
  .strix-model-primary {
    width: calc(100vw - 10px);
    max-width: none;
  }
}

.strix-form-modal-footer {
  justify-content: flex-end !important;
}

.strix-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  > * + * {
    margin-left: 10px;
  }
}

.full-h {
  height: 100%;
}

.clear-bg-color {
  background-color: unset !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
